 .cardPadding{
    padding: 5px;
    margin: 16px;
    border-radius : 5px;
    box-shadow: 0 2px 5px #ccc;
    width: 45%;
    display: inline-block;
}

.cardPadding > button{
    font-size: 18px;
}
.likeCount{
    font-weight: 600;
    font-size: 20px;
}

@media(max-width: 992PX) {
    html{
        background: #252424;
        color: #e0e0e0;
    }
    .cardPadding{
        box-shadow: 0 2px 5px #000000; 
        width: 100%;
    }
}